body {
    background-image: url('../img/background.png');
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navigation-bar {
    display: flex;
    align-items: center;
    margin-top: 35px;
    
    .row {
        min-width: 100%;
    }
    
    .brand {
        display: flex;
        align-items: center;

        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.205em;
        color: rgba(0, 34, 101, 1);
        ;
    }

    .menu {
        display: flex;
        justify-content: right;
    }

    .a {
        text-decoration: none;
    }

    .contact {
        width: 196px;
        height: 58px;
        padding: 10px 18px;
        border-radius: 10px;
        gap: 10px;
        background: rgba(96, 138, 245, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
        a {
            justify-content: center;
            display: flex;
            margin-right: 0px !important;
            color: rgba(255, 255, 255, 1) !important;
        }
    }

    .nav-item {
        list-style: none;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.055em;
        color:rgba(33, 33, 33, 1);

        a {
            text-decoration: none;
            color: #000;
            margin-right: 45px;
        }

        a:hover {
            color: #71D6CA;
        }
    }
}

@media (max-width: 991px) {
    .nav-item a {
        display: none;
    }

    .brand {
        margin-left: 40px;
        font-size: 18px !important;
    }

    .contact {
        display: none;
    }
}

/* header */
.heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;

    .heading-text {
        width: 590px;
        height: 404px;
        display: flex;
        flex-direction: column;
        color: rgba(0, 34, 101, 1);

        .head-hi {
            font-family: 'Poppins', sans-serif;
            font-size: 35px;
            font-weight: 400;
            line-height: 53px;
            letter-spacing: 0.005em;
            text-align: left;
        }

        .head-text {
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            font-weight: 600;
            line-height: 75px;
            letter-spacing: 0.005em;
            text-align: left;
        }

        .head-desc {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0.015em;
            text-align: left;
            align-self: flex-end;
            color: rgba(8, 32, 50, 1) !important;
        }
    }
    
    .heading-img {
        width: 501px;
        height: 467px;
    }
}

/* passions */
.passion-title {
    display: flex;
    justify-content: center;
    margin-top: 118px;

    .pt-text {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 53px;
        letter-spacing: 0.055em;
        text-align: center;
        color: rgba(20, 39, 155, 1);

        span {
            font-weight: 600;
            color: rgba(0, 34, 101, 1);
        }
    }
}

.passion-card {
    margin-top: 60px;
    height: 280px;
    display: flex;
    justify-content: space-between;

    .card {
        width: 347px;
        height: 280px;
        border-radius: 13px;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        .card-title {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0.055em;
            text-align: center;
            color: rgba(0, 0, 0, 1);

            span {
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0.055em;
                text-align: center;
            }
        }

        .card-desc {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.055em;
            text-align: center;
            color: rgba(0, 0, 0, 1);
        }
    }
}

/* portfolio */
.portfolio-title {
    display: flex;
    justify-content: center;
    margin-top: 168px;

    .pt-text {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 53px;
        letter-spacing: 0.185em;
        text-align: center;
        color: rgba(20, 39, 155, 1);

        span {
            font-weight: 600;
            color: rgba(0, 34, 101, 1);
        }
    }
}

.portfolio-card {
    margin-top: 60px;
    height: 280px;
    display: flex;
    justify-content: space-between;

    .card {
        width: 347px;
        height: 280px;
        border-radius: 13px;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);

        .portfolio-text {
            margin-top: 26px;
            margin-left: 44px;
            z-index: 1;

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                color: rgba(35, 112, 139, 1);
            }
        }

        .portfolio-text2 {
            margin-top: 26px;
            margin-left: 20px;
            z-index: 1;

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                color: rgba(69, 129, 246, 1);
            }
        }

        .portfolio-desc {
            margin-top: -15px;
            margin-left: 127px;
            z-index: 1;

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                color: rgba(37, 122, 144, 1);
            }
        }

        .portfolio-img {
            .circle-img {
                margin-top: -62px;
                margin-left: 15px;
                z-index: -1;
            }

            .main-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                img {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}

.contact-card {
    width: 1141px;
    height: 236px;
    margin-top: 59px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .card {
        border: none;
        width: 240px;
        height: 236px;
        z-index: -2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contact-img {
            display: flex;
            justify-content: center;
    
            .main-img {
                z-index: -1;

                .logos-img {
                    position: absolute;
                    top: 16%;
                    left: 34%;
                    z-index: 1;
                }
            }
        }

        .contact-text {
            font-family: 'Poppins', sans-serif;
            font-size: 35px;
            font-weight: 500;
            line-height: 53px;
            letter-spacing: 0.055em;
            text-align: center;
            color: rgba(63, 61, 86, 1);
            margin-bottom: -15px;
        }
    }
}

.footer-container {
    width: 100%;
    max-width: 100vh;

    img {
        margin: 0 auto;
        display: block;
    }
}