* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: white;
}

nav {
    background-color: #1B9A8B;
    height: 77px;

    .navbar-brand {
        color: white;
        font-weight: bold;
        font-size: 40px;
    }

    #navbarNav {
        justify-content: right;
    }

    .nav-item a {
        color: white;
        font-size: 24px;
        margin-left: 69px;
        padding: 10px;
    }

    .active {
        color: black;
        background-color: white;
        padding: 20px !important;
    }
}

.header-container {
    width: 960px;
    height: 343px;
    margin-top: 66px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .row {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-container {
        width: 517px;
        height: 307px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .head-main-text {
            text-align: center;
            
            h1 {
                color: #3BB4A6;
                font-size: 70px;
                font-weight: bold;
                text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            p {
                font-size: 16px;
            }
        }
    }

    .profile-container {
        width: 300px;
        height: 279px;

        img {
            max-width: 300px;
        }
    }
}

/* main-body */
.main-body {
    /* height: 100vh; */
    background-color: #E5F3FF;

    .row {
        width: 1051px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .video-img {
            width: 640px;
            height: 360px;
            margin-top: 90px;
        }

        .video-text {
            width: 379px;
            height: 176px;
            margin-top: 90px;
        }
    }   
}

.description-container {
    display: flex;
    justify-content: center;
    margin-top: 85px;

    .description-text {
        display: flex;
        text-align: center;
        margin-bottom: 60px;
    }
}

.footer-const {
    background-color: #71D6CA;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-containers {

    h1 {
        font-size: 40px;
    }

    .social-media {
        li {
            font-size: 20px;
        }
    }
}

/* about */
.header-brand {
    background: url('../img/back-end.jpeg') no-repeat center center fixed;
    min-width: 100%;
    min-height: 100%;
    filter: blur(9px);
    z-index: -1;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    filter: blur(9px);
    z-index: -1;
}

.header-text {
    min-height: 445px;
    display: flex;
    text-align: center;
    justify-content: center;

    h1 {
        position: relative;
        z-index: 1;
        align-items: center;
        display: flex;
        font-size: 70px;
        font-weight: bold;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.photo-bg {
    background-color: #E5F3FF;
}

.photo-row {
    width: 1061px;
    height: 400px;
    display: flex;
    justify-content: space-between;

    .photo-sec {
        margin-top: 90px;
        width: 446px;
        height: 400px;

        img {
            width: 446px;
            height: auto;
        }
    }

    .text-sec {
        margin-top: 90px;
        width: 550px;   
        height: auto;
    }

    .photo-secs {
        width: 446px;
        height: 400px;

        img {
            width: 446px;
            height: auto;
        }
    }

    .text-secs {
        width: 550px;
        height: auto;
    }
}

.container-phototext {
    display: flex;
    justify-content: center;

    h1 {
        font-size: 59px;
        font-weight: bold;
    }
}

/* hero */
/* Waves Animation start*/
.hero_area {
    position: relative;
    height: 100px;
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}